.Insertbase {
    background-image: url(../image/ATN STORE.png);
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.Insertbase h1 {
    color: black;
}

.Insertbase h2 {
    color: black;
}

.Insertbase li {
    color: #ffffff;
}

.Insertbase ul li {
    color: #ffffff;
}